# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Isaac Rhoads-Dey Realtor
email: isaac@isaacrhoadsdey.com
phone: 541-513-3084

description: >- # this means to ignore newlines until "baseurl:"
  Realtor serving Eugene / Springfield and the surrounding area, helping
  buyers and sellers accomplish their real estate goals since 2008.
#baseurl: "/isaacrhoadsdey" # the subpath of your site, e.g. /blog
url: "https://isaacrhoadsdey.com" # the base hostname & protocol for your site, e.g. http://example.com
host: 0.0.0.0
port: 4000

#Social Links
#twitter_username: jekyllrb
#github_username:  jekyll
facebook_username: IsaacRhoadsDeyRealtor
#youtube_username: 
linkedin_username: isaac-rhoads-14bb302
zillow_username: user8229655
instagram_username: therealhousesoflanecounty

# Build settings
markdown: kramdown
#theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

sass:
  sass_dir: _sass

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
