<footer class="footer bg-dark">

  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h3>Isaac Rhoads-Dey</h3>

        <p>
          <a href="mailto:{{ site.email }}">
            <i class="fas fa-envelope-square"></i> {{ site.email }}
          </a><br/>
          <a href="tel:+1-{{ site.phone }}">
            <i class="fas fa-phone-square"></i> {{ site.phone }}
          </a>
        </p>


        <p>
          1570 Mohawk Blvd, Ste 100<br/>
          Springfield, OR 97477
        </p>
      </div>


      <div class="col-md-4">
        <h5>Find me on Zillow</h5>

        <p>
          <a href="https://www.zillow.com/profile/user8229655/">
            <img class="rounded float-left" style="width: 120px;" src="/img/zillow_icon.png">
          </a>
        </p>
      </div>


      <div class="col-md-4">
        <h5>Find me on...</h5>
        
        {%- include social.html -%}
      </div>

    </div><!-- /.row --> 
  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>