
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="topnav">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#isaac">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sellers">Sellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#buyers">Buyers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#preapproved">Get Pre-Approved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#eugene">Eugene</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>