<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

{%- include splash.html -%}



<div class="container featurettes">
  <div class="row featurette" id="isaac">
    <div class="col-md-7">
      <h2 class="featurette-heading">Isaac Rhoads-Dey, <span class="muted-text">Realtor</span></h2>
      <p class="lead">
        Thank you for visiting my page. I am a Realtor serving Eugene/Springfield and the surrounding area. I have enjoyed helping buyers and sellers accomplish their real estate goals since 2008, and I look forward to helping you with yours!
        <br/><br/>
        Before beginning my work in real estate sales, I worked in residential construction and property management, and completed a degree in marketing from the University of Oregon.
        <br/><br/>
        My volunteer work in our community includes serving as the 2019 President Elect of the Springfield Board of Realtors and the volunteer coordinator for the Million Dollar Club of Lane County’s 2019 Habitat For Humanity home build.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/img/isaac_2016_head_shot.jpg">
    </div>
  </div><!-- /.row.featurette -->





  <hr class="featurette-divider" />

  <div class="row featurette" id="sellers">
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/img/open_house.jpg">
    </div>

    <div class="col-md-7">
      <h2 class="featurette-heading">Sellers</h2>
      <p class="lead">
        Thinking about selling a home? I can help you to decide whether selling is right for you. If you decide to sell, I can help you price and market your home to get the most out of it and sell it quickly. I will meet with you and go over a comprehensive marketing plan which includes helping you prepare your property for the market. You will know what to expect from the start of the process until your home is sold, and I will always be available for any questions you might have.
      </p>
    </div>
  </div><!-- /.row.featurette -->




  <hr class="featurette-divider"/>

  <div class="row featurette" id="buyers">
    <div class="col-md-7">
      <h2 class="featurette-heading">Buyers</h2>
      <p class="lead">
        If you are buying a home, the first thing we will do is sit down together and go over the home buying process. You will learn what to expect from start to finish, and I will learn about your goals and the things that are most important to you. I can also help you find a mortgage lender.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/img/rawpixel-761473-unsplash.jpg">
    </div>
  </div><!-- /.row.featurette -->



  <hr class="featurette-divider"  id="preapproved"/>

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/img/rawpixel-741658-unsplash.jpg">
      <!-- Photo by rawpixel on Unsplash -->
    </div>

    <div class="col-md-7">
      <h2 class="featurette-heading">Get Pre-Approved</h2>
      <p class="lead">
        Getting pre-approved will set you up for success.  We work closely with trusted partners to provide a seamless experience.
      </p>
      <a class="btn btn-primary btn-lg" href="https://www.peakmtg.com/brian-rhoads-dey/">Get Pre-Approved Now</a>
    </div>
  </div><!-- /.row.featurette -->


  <hr class="featurette-divider"/>

  <div class="row" id="eugene">
    <div class="col-md-12">
      <h2>Moving to Eugene/Springfield</h2>

      <p>
        Many of my clients are people moving in and out of the area. I can make the process easy for you. If you’re new in town, I’m happy to start by giving you a driving tour, showing you a few homes, and helping you to narrow down areas you might be interested in. I can easily work to complete a purchase or a sale while you’re not in town, including setting up a courtesy signing wherever you happen to be when we’re ready to close.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLPO04aNQdhTxstI9P0w45p-iA8JXlXr1s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div><!-- /.container-eugene -->

<div id="contact"></div>

{%- include footer.html -%}

<script type="text/javascript">
  $('body').scrollspy({ target: '#topnav', offset: 100 });
</script>

</body>
</html>
